@mixin gradiant-btn {
    border-radius: 50px;
    width: 40%;
    height: 50px;
    font-size: 14px;
    border: none;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    color: $box-color;
    margin-bottom: 30px;
    @include respond-to('medium'){
        justify-content: center;
        width: 20%;
        font-size: 16px;
        margin: 30px;
    }
    
}
@mixin respond-to($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
    

}

    