@mixin gradiant-btn {
    border-radius: 50px;
    width: 60%;
    height: 60px;
    font-size: 18px;
    border: none;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    color: white;
    @include respond-to('medium'){
        width: 30%;
        font-size: 14px;
    }
    
}
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}
@else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
    