@mixin gradiant-btn {
    border-radius: 50px;
    width: 60%;
    height: 60px;
    font-size: 18px;
    border: none;
    background: linear-gradient(to top left, $primary-color, $secondary-color);
    color: white;
    
}
