$primary-color: #9356DC;
$degraded-primary: #efe2f2;
$secondary-color: #FF79DA;
$tetiary-color: #99E2D0;
$new-color: #3cb371;
$body-color: #F2F2F2;
$shaded-color: #D3D3D3;
$box-color: #FFFFFF;
$bshadow-color: #E6E6E6;
$footer-background: #25221e;
$realdark-color: #000000;
$thick-shaded-color: #808080;
$btn-color: ($primary-color, $secondary-color);

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;