$primary-color: #9356DC; 
$secondary-color: #FF79DA;
$tetiary-color: #99E2D0;
$new-color: #3cb371;
$body-color: #F2F2F2;
$shaded-color: #D3D3D3;
$box-color: #FFFFFF;
$bshadow-color: #E6E6E6;
$footer-background: #25221e;
$breakpoints: (
    'small': 600px,
    'medium': 800px,
    'large': 1100px,
) !default;