.maps{
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    height: 50px;
    padding-top: 20px;
    input{
        display: flex;
        background-color: #E6E6E6;
        border-style: none;
        font-size: 15px;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }
    

}
