html, body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
} 

.description{
    background: $body-color;
    height: 300px;
    padding-bottom: 0px;
    margin-top: -22px;
}
h1{ 
    padding: 40px 20px 0px 20px;
    text-align: center;
}
.description p{
    text-align: center;
    padding: 0px 40px 0px 40px;
}
h2{
    margin-left: 15px;
}
.btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.function{
    height: 350px;
    @include respond-to('large') {
        height: 150px;
    }
    @include respond-to('medium') {
        height: 150px;
    }
    &__cnt{
        @include respond-to('large'){
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(100px, 1fr));
            justify-items: center;
    
        }
        @include respond-to('medium'){
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(80px, 1fr));
            justify-items: center;
        }
        
        
    }
}

.function__steps{
    display: flex;
    position: relative;
    box-shadow: 2px 2px 2px 2px $bshadow-color;
    border-radius: 20px;
    background: $body-color;
    width: 90%;
    height: 60px;
    margin: 20px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;  
    @include respond-to('large') {
        width: 70%;
        height: 80px;
     
    }
    @include respond-to('medium') {
        width: 80%;
        height: 70px;
        
    }
}
.pink{
    background:   #efe2f2;
}
.function__number{
    position: absolute;
    background-color: $primary-color;
    color: $box-color;
    font-size: 12px;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50px;
    top: 20px;
    margin-left: -10px;
}
.function__icon{
    margin: 40px;
    color: gray;
}
.fa-store{
    color: $primary-color;
}
.restaurant{
    height: auto;
    background-color: $body-color;
    h2{
        padding: 30px 0px 0px 30px;
    }
    
    @include respond-to('medium') {
        width: 90%;
        justify-content: center;
        margin-left: 5%;
        border-radius: 20px;
    }
}
.restaurant__container{
    background-size: cover;
    padding: 2rem;
    max-width: 100%;
    margin-top: 0px;
    @include respond-to('large') {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(2, 1fr));
    } 
    @include respond-to('medium') {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(2, 1fr));
    }
    @include respond-to('small'){
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    }
}
.restaurant__card{
    background: $box-color;
    box-shadow: 2px 2px 2px $body-color;
    border-radius: 20px;
    margin: 20px;
    height: 250px;
    position: relative;
}
.restaurant__card img{
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    display: block;
}

.restaurant__card--new{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $new-color;
    background-color: $tetiary-color;
    height: 10px;
    width: 50px;
    padding: 10px;
    font-size: 12px;
}
.restaurant__card--text p{
    margin-top: -15px;
}
.restaurant__card--text{
    padding-left: 20px;
}

.fa-heart{
    float: right;
    font-size: 25px;
    padding: 30px;
    text-transform: none;
}
a{
    text-decoration: none;
}
.restaurant__card--description{
    position: absolute;
    object-fit: contain;
}
