html, body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
} 

.description{
    background: #F2F2F2;
    height: 300px;
    padding-bottom: 0px;
    margin-top: -22px;
}
h1{ 
    padding: 40px 20px 0px 20px;
    text-align: center;
}
.description p{
    text-align: center;
    padding: 0px 40px 0px 40px;
}
h2{
    margin-left: 15px;
}
.btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.function{
    height: 350px;
}

.function__steps{
    display: flex;
    position: relative;
    box-shadow: 2px 2px 2px 2px #E6E6E6;
    border-radius: 20px;
    background: #F2F2F2;
    width: 90%;
    height: 60px;
    margin: 20px;
    padding: 5px 0px 0px 0px;
    font-size: 18px;
}
@media (min-width: 1000px){
    .function--container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    }
    .function{
        height: 150px;
    }
    .restaurant__container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    }
    
    
}
.pink{
    background:  #efe2f2;
}
.function__number{
    position: absolute;
    background-color: $primary-color;
    color: white;
    font-size: 12px;
    width: 10px;
    height: 10px;
    padding: 10px;
    border-radius: 50px;
    top: 20px;
    margin-left: -10px;
}
.function__icon{
    margin: 40px;
    color: gray;
}
.fa-store{
    color: $primary-color;
}
.restaurants{
    width: 100%;
    height: 1200px;
    background-color: #F2F2F2;
    margin-bottom: -20px;
    padding-top: 40px;

}
.restaurant{
    background-size: cover;
    padding: 2rem;
    max-width: 100%;
    margin-top: 0px;
}
.card{
    background: white;
    box-shadow: 2px 2px 2px #F2F2F2;
    border-radius: 20px;
    margin: 20px;
    height: 250px;
    position: relative;
}
.card img{
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    display: block;
}

.card__img--new{
    position: absolute;
    top: 10px;
    right: 10px;
    color: mediumseagreen;
    background-color: #99E2D0;
    height: 10px;
    width: 50px;
    padding: 10px;
    font-size: 12px;
}
.card__text p{
    margin-top: -15px;
}
.card__text{
    padding-left: 20px;
}

.fa-heart{
    float: right;
    font-size: 25px;
    padding: 30px;
    text-transform: none;
}
a{
    text-decoration: none;
}
.card__description{
    position: absolute;
    object-fit: contain;
}
