html, body{
    max-width: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
} 
.description{
    background: $body-color;
    height: 300px;
    padding-bottom: 0px;
    margin-top: -22px;
}
h1{ 
    padding: 40px 70px 0px 70px;
    text-align: center;
    font-size: 24px;
 
}
.description p{
    text-align: center;
    padding: 0px 40px 0px 40px;
}
h2{
    margin-left: 15px;
}
.btn-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.function{
    height: 300px;
    @include xl {
        height: 100px;
    }
    
    @include md {
        height: 170px;
    }

   
 

    &__steps{
        display: flex;
        justify-items: center;
        align-content: center;
        align-items: center;
        width: 90%;
        height: 60px;
        box-shadow: 2px 2px 2px 2px $bshadow-color;
        border-radius: 20px;
        background: $body-color;
        padding: 0px;
        margin: 20px;
        font-size: 18px;
        @include xl {
            width: 30%;
            padding: 40px;
           
        }
        @include lg {
            padding: 40px;
       
        }
        @include md {
            width: 80%;
            padding: 20px;
            margin: 0px;
        }
        
        @include sm {
            max-width: 60%;
            margin-left: 160px;
        }
       
       
        
        i {
            padding: 0px 20px 0px 20px; 
            color: $thick-shaded-color;
        }
        .fa-store{
            color: $primary-color;
        }
        &.pink {
            background: $degraded-primary;
        }
    }
    &__number{
        background-color: $primary-color;
        color: $box-color;
        font-size: 12px;
        width: 10px;
        height: 10px;
        padding: 10px;
        border-radius: 50px;
        top: 20px;
        margin-left: -10px;
        @include xl {
            margin-left: -35px;
        }
        @include lg {
            margin-left: -35px;
        }
        @include md {
            margin-left: -35px;
        }
       
        
    }
    &__cnt{
        @include xl{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
            justify-items: center;
            margin-right: 120px;

        }
        @include md {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
            justify-items: center;
            margin-right: 120px;
        }
    }
        
        
}
.restaurant{
    height: auto;
    margin-bottom: -20px;
    background-color: $body-color;
    h2{
        padding: 50px 0px 0px 5px;
    }
    @include md {
        width: 100%;
        justify-content: center;
    }
}
.restaurant__container{
    background-size: cover;
    padding-bottom: 32px;
    max-width: 100%;
    margin-top: 0px;
    @include xl {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(2, 1fr));
    } 
    @include xl {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(2, 1fr));
    }
    @include md{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
    }
    @include sm {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    }

}
.restaurant__card{
    background: $box-color;
    box-shadow: 5px 5px 5px $shaded-color;
    border-radius: 20px;
    margin: 20px;
    height: 250px;
    position: relative;
}
.restaurant__card img{
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    display: inline-block;
    z-index: -1;

}

.restaurant__card--new{
    position: absolute;
    top: 10px;
    right: 10px;
    color: $new-color;
    background-color: $tetiary-color;
    height: 10px;
    width: 50px;
    padding: 5px 10px 10px 5px;
    font-size: 14px;
    z-index: 1;
}
.restaurant__card--text{
    align-content: center;
    align-items: center;
    line-height: 0px;
    padding: 15px 0px 10px 10px;
    color: $realdark-color;
    
}

.fa-heart{
    float: right;
    font-size: 25px;
    padding: 40px 15px 0px 0px;
    text-transform: none;
    font-weight: lighter;
    color: $realdark-color;
    cursor: pointer;



    /*&:hover {
        font-weight: bold; 
        background: linear-gradient($primary-color, $secondary-color); 
        -webkit-background-clip: text; 
        background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: animheart 3s forwards;
    }*/
      
    &:hover {
        font-weight: 900;
        background: linear-gradient(to top, $secondary-color, $primary-color);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animheart 2s forwards;
   
    }
}

/*&:active {
    font-weight: 900;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animheart 200ms ease-in-out;
    animation-fill-mode: forwards;
}*/

a {
    text-decoration: none;
}
.restaurant__card--description{
    position: absolute;
    object-fit: contain;
}
.loader-wrapper{
   position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: $footer-background;
    animation: loader-alpha 3000ms;
    animation-fill-mode: forwards;
    overflow: hidden;
    z-index: 2;
   

}
.loader{
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shrikhand';
    letter-spacing: 10px;
    
   


    & > span {
        font-size: 30px;
        font-weight: 900px;
        height: 0px;
        width: 0px;
        color: $primary-color;
        animation: bounce 0.6s infinite ease-in-out alternate;
        transform: translate3d(0);
    
       

        &:nth-child(2) {
            font-size: 30px;
            font-weight: 900px;
            color: $primary-color;
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            font-size: 30px;
            font-weight: 900px;
            color: $secondary-color;
            animation-delay: 0.4s;
        }
        &:nth-child(4) {
            font-size: 30px;
            font-weight: 900px;
            color: $secondary-color;
            animation-delay: 0.6s;
        }
        &:nth-child(5) {
            font-size: 30px;
            font-weight: 900px;
            color: $new-color;
            animation-delay: 0.8s;
        }
        &:nth-child(6) {
            font-size: 30px;
            font-weight: 900px;
            color: $new-color;
            animation-delay: 1s;
        }
        &:nth-child(7) {
            font-size: 30px;
            font-weight: 900px;
            color: $tetiary-color;
            animation-delay: 1.2s;
        }
        &:nth-child(8) {
            font-size: 30px;
            font-weight: 900px;
            color: $tetiary-color;
            animation-delay: 1.4s;
        }
    }

}
@keyframes loader-alpha {
    0%, 99%{
        transform: scaleY(1);
        cursor: progress;
    }
    100% {
        transform: scaleY(0);
    }
}
@keyframes bounce {
    to{
        width: 60px;
        height: 60px;
        transform: translate3d(0, -14, 0);
    }
}
@keyframes animheart { 
    from {
        background-position-y: 32px; 
    } 
    to { 
        background-position-y: -32px;
    }
}

/*@keyframes animheart {
    0% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }
    
}*/
