.menu--logo{

   @include xl {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      padding-bottom: 10px;
   }
   @include lg {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: auto;
       padding-bottom: 10px;
   }


}
.pageMenu img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
    @include xl {
        width: 100%;
        height: 500px;
        margin-left: 0px;
        border-radius: 0px;
    }
    @include lg {
        width: 100%;
        height: 500px;
        margin-left: 0px;
        border-radius: 0px; 
   
    }
    @include md {
        width: 100%;
        height: 400px;
    
        border-radius: 0px;
       
       
    }

}

.fa-arrow-left{
    font-size: 25px;
    color: black;
    padding: 40px 0px 0px 30px;
}
.container__pageMenu{
    background-color: $body-color;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    top: -40px;
    height: auto;
    margin-bottom: -60px; 
    padding-bottom: 0px;
    padding: 0px;
    @include xl {
        width: 100%;
        background-color: $body-color;
        border-radius: 0px;
        position: relative;
        top: -45px;
        margin: 40px 20px -60px 0px; 
        padding-bottom: 0px;
        padding: 0px;
    }
    
    @include lg {
        width: 100%;
        background-color: $body-color;
        border-radius: 0px;
        position: relative;
        top: -45px;
        margin-bottom: -60px; 
        margin-right: -20px;
        margin-right: 40px;
        padding-bottom: 0px;
    
    }
    @include md {
        width: 100%;
        border-radius: 0px;
        top: -45px;
        margin-right: -20px;
        margin-right: 40px;
     
    
    }

} 
.container__bg{
    @include xl{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    @include lg {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
   
}

.card {
    background-color: $body-color;
    position: relative;
   
   
   
}
.card__desc{
    box-shadow: 2px 2px 2px 2px $bshadow-color;
    border-radius: 20px;
    background: $box-color;
    width: 90%;
    height: 70px;
    margin: 10px; 
    padding: 10px;
    text-align: left;

    &:hover .fa-check-circle{
        cursor: pointer;
        transform: all 2s linear;
        transform: rotate(-45deg);
    }
    &:hover > .circleAnime {
        cursor: pointer;
        visibility: visible;
        
    }
    
   
    
    @include xl{
        width: 90%;
        height: 80px;
        h3{
            font-size: 18px;
    
        }
        p{
            font-size: 16px;
        }
    }
    @include lg {
        width: 90%;
        height: 80px;
        h3{
            font-size: 18px;
            text-overflow: clip;
    
        }
        p{
            font-size: 16px;
            text-overflow: clip;
            @include md {
                font-size: 16px;
            }
        }
        .prix{
            font-size: 14px;
            font-weight: bolder;
            text-overflow: clip;
        
            @include md {
                font-size: 12px;
            }
        }
    }

    h3, p{
        margin: 5px;
       

    }
    .prix{
        float: right;
      
    }
} 
.card__title{
    border-bottom: 3px solid $tetiary-color;
    width: 60px;
}
.container__title{
    display: flex;
    justify-content: space-between;
    font-family: 'Shrikhand';font-size: 26px;;
    padding: 30px;
    margin: 0px;
}

.fa-check-circle{
    justify-content: center;
    align-items: center;
    height: inherit;
    font-size: 25px;
    float: right;
    padding-top: 20px;
    padding-right: 20px;
    margin: 0px;
    transform: rotate(0);

}
.circleAnime {
    float: right;
    object-fit: cover;
    height: inherit;
    width: 70px;
    color: white;
    padding: 10px;
    background: $tetiary-color;
    border-radius: 0px 20px 20px 0px;
    margin-top: -66px;
    margin-right: -10px;
    visibility: hidden;
   
   
    @include lg {
        margin-top: -65px;
    }
    
    

}

.card {
    &--entrees{
    animation: card-load 1s ease-in-out;
   
    
    }
    &--plats{
    animation: card-load 2s ease-in-out;
 
    
    }
    &--desserts{
    animation: card-load 3s ease-in-out;
    
   
    }
}

@keyframes card-load {
    0%{
        transform: translateY(100%);
        opacity: 0;
    
    }
    60%{
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
/*.circleAnime {
    transform: translateX(40px);
    animation: 2s ease-in;
}*/

/*@keyframes circleAnime {
    0%{
        transform: translateX(-10%);
    
    
    }
    100%{
        transform: translateX(0%);
        opacity: 0;
    }
}*/
  

