.header-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  border-bottom: 2px solid #D3D3D3;
}
.header-main img {
  width: 50%;
}

.maps {
  background-color: #E6E6E6;
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 20px;
}
.maps input {
  display: flex;
  background-color: #E6E6E6;
  border-style: none;
  font-size: 15px;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.btn {
  border-radius: 50px;
  width: 40%;
  height: 50px;
  font-size: 14px;
  border: none;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .btn {
    width: 10%;
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .btn {
    width: 10%;
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .btn {
    width: 17%;
  }
}

footer {
  background: #25221e;
  height: 200px;
  margin-top: 0px;
}
footer a, footer h3 {
  color: #FFFFFF;
}
footer ul {
  list-style: none;
}
@media (min-width: 1200px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
@media (min-width: 992px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
@media (min-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
}
footer h3 {
  padding: 30px 0px 0px 40px;
  font-family: "Shrikhand";
}

html, body {
  max-width: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.description {
  background: #F2F2F2;
  height: 300px;
  padding-bottom: 0px;
  margin-top: -22px;
}

h1 {
  padding: 40px 20px 0px 20px;
  text-align: center;
}

.description p {
  text-align: center;
  padding: 0px 40px 0px 40px;
}

h2 {
  margin-left: 15px;
}

.btn-cont {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.function {
  height: 300px;
}
@media (min-width: 1200px) {
  .function {
    height: 100px;
  }
}
@media (min-width: 768px) {
  .function {
    height: 170px;
  }
}
.function__steps {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
  width: 90%;
  height: 60px;
  box-shadow: 2px 2px 2px 2px #E6E6E6;
  border-radius: 20px;
  background: #F2F2F2;
  padding: 0px;
  margin: 20px;
  font-size: 18px;
}
@media (min-width: 1200px) {
  .function__steps {
    width: 30%;
    height: 90px;
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .function__steps {
    height: 100px;
    width: 80%;
  }
}
.function__steps i {
  padding: 0px 20px 0px 20px;
  color: gray;
}
.function__steps .fa-store {
  color: #9356DC;
}
.function__steps.pink {
  background: #efe2f2;
}
.function__number {
  background-color: #9356DC;
  color: white;
  font-size: 12px;
  width: 10px;
  height: 10px;
  padding: 10px;
  border-radius: 50px;
  top: 20px;
  margin-left: -10px;
}
@media (min-width: 1200px) {
  .function__cnt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
  }
}
@media (min-width: 768px) {
  .function__cnt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    justify-items: center;
  }
}

.restaurant {
  height: auto;
  margin-bottom: -20px;
  background-color: #F2F2F2;
}
.restaurant h2 {
  padding: 30px 0px 0px 30px;
}
@media (min-width: 768px) {
  .restaurant {
    width: 100%;
    justify-content: center;
  }
}

.restaurant__container {
  background-size: cover;
  padding: 2rem;
  max-width: 100%;
  margin-top: 0px;
}
@media (min-width: 1200px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
  }
}
@media (min-width: 1200px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2, 1fr));
  }
}
@media (min-width: 768px) {
  .restaurant__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.restaurant__card {
  background: #FFFFFF;
  box-shadow: 2px 2px 2px #F2F2F2;
  border-radius: 20px;
  margin: 20px;
  height: 250px;
  position: relative;
}

.restaurant__card img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  display: inline-block;
  z-index: 1;
}

.restaurant__card--new {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #3cb371;
  background-color: #99E2D0;
  height: 10px;
  width: 50px;
  padding: 10px;
  font-size: 14px;
  z-index: 2;
}

.restaurant__card--text {
  align-content: center;
  align-items: center;
  line-height: 0px;
  padding-left: 5px;
  color: black;
}

.fa-heart {
  float: right;
  font-size: 20px;
  padding: 10px;
  text-transform: none;
  font-weight: lighter;
  color: black;
}

a {
  text-decoration: none;
}

.restaurant__card--description {
  position: absolute;
  object-fit: contain;
}

.loader {
  width: 100vw;
  background-color: #25221e;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Shrikhand";
  letter-spacing: 10px;
}
.loader > span {
  font-size: 30px;
  font-weight: 900px;
  height: 0px;
  width: 0px;
  color: #9356DC;
  animation: bounce 0.6s infinite ease-in-out alternate;
  transform: translate3d(0);
}
.loader > span:nth-child(2) {
  font-size: 30px;
  font-weight: 900px;
  color: #9356DC;
  animation-delay: 0.2s;
}
.loader > span:nth-child(3) {
  font-size: 30px;
  font-weight: 900px;
  color: #FF79DA;
  animation-delay: 0.4s;
}
.loader > span:nth-child(4) {
  font-size: 30px;
  font-weight: 900px;
  color: #FF79DA;
  animation-delay: 0.6s;
}
.loader > span:nth-child(5) {
  font-size: 30px;
  font-weight: 900px;
  color: #3cb371;
  animation-delay: 0.8s;
}
.loader > span:nth-child(6) {
  font-size: 30px;
  font-weight: 900px;
  color: #3cb371;
  animation-delay: 1s;
}
.loader > span:nth-child(7) {
  font-size: 30px;
  font-weight: 900px;
  color: #99E2D0;
  animation-delay: 1.2s;
}
.loader > span:nth-child(8) {
  font-size: 30px;
  font-weight: 900px;
  color: #99E2D0;
  animation-delay: 1.4s;
}

@keyframes bounce {
  to {
    width: 60px;
    height: 60px;
    transform: translate3d(0, -14, 0);
  }
}
.menu--logo {
  padding: 0px;
  margin: 0px;
}

.pageMenu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
}
@media (min-width: 1200px) {
  .pageMenu img {
    width: 100%;
    height: 500px;
    margin-left: 0px;
    border-radius: 0px;
  }
}
@media (min-width: 992px) {
  .pageMenu img {
    width: 100%;
    height: 500px;
    margin-left: 0px;
    border-radius: 0px;
  }
}
@media (min-width: 768px) {
  .pageMenu img {
    width: 100%;
    height: 400px;
    border-radius: 0px;
  }
}

.fa-arrow-left {
  padding: 20px;
}

.container__pageMenu {
  background-color: #F2F2F2;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  top: -40px;
  height: auto;
  margin-bottom: -60px;
  padding-bottom: 0px;
  padding: 0px;
}
@media (min-width: 1200px) {
  .container__pageMenu {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0px;
    position: relative;
    top: -45px;
    margin: 40px 20px -60px 0px;
    padding-bottom: 0px;
    padding: 0px;
  }
}
@media (min-width: 992px) {
  .container__pageMenu {
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 0px;
    position: relative;
    top: -45px;
    margin-bottom: -60px;
    margin-right: -20px;
    margin-right: 40px;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .container__pageMenu {
    width: 100%;
    border-radius: 0px;
    top: -45px;
    margin-right: -20px;
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  .container__bg {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 992px) {
  .container__bg {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.card {
  background-color: #F2F2F2;
  position: relative;
}

.card__desc {
  box-shadow: 2px 2px 2px 2px #E6E6E6;
  border-radius: 20px;
  background: #FFFFFF;
  width: 90%;
  height: 70px;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
@media (min-width: 1200px) {
  .card__desc {
    width: 90%;
    height: 80px;
  }
  .card__desc h3 {
    font-size: 18px;
  }
  .card__desc p {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .card__desc {
    width: 90%;
    height: 80px;
  }
  .card__desc h3 {
    font-size: 18px;
  }
  .card__desc p {
    font-size: 16px;
  }
  .card__desc .prix {
    font-size: 16px;
    font-weight: bolder;
  }
}
.card__desc h3, .card__desc p {
  margin: 5px;
}
.card__desc .prix {
  float: right;
}

.card__title {
  border-bottom: 3px solid #99E2D0;
  width: 60px;
}

.container__title {
  display: flex;
  justify-content: space-between;
  font-family: "Shrikhand";
  font-size: 26px;
  padding: 30px;
  margin: 0px;
}

.fa-check-circle {
  float: right;
}

/*# sourceMappingURL=style.css.map */
